@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-in {
  @apply fixed top-0 left-0 w-full h-[100vh] origin-right;
  background: #0f0f0f;
}
.slide-out {
  @apply fixed top-0 left-0 w-full h-[100vh] origin-left;
  background: #0f0f0f;
}

.navbar li a.active {
  @apply text-sky-500 px-3 py-1 rounded-md text-lg relative;
}
.navbar li a:hover {
  @apply text-sky-500 px-3 py-1 rounded-md text-lg relative;
}
.navbar li a.active::after {
  @apply absolute inline-block w-[78%] scale-x-[1] h-6 right-2 border-b-2 border-b-sky-500;
  content: "";
}
.navbar li a:hover::after {
  @apply absolute inline-block w-[78%] scale-x-[1] h-6 right-2 border-b-2 border-b-sky-500;
  content: "";
}

.title::before {
  @apply absolute lg:text-7xl text-4xl text-sky-500 opacity-50 font-bold top-[50%];
  content: "IQBAL MUTHAHHARY";
}